@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

.theNavbar{
   @apply bg-[#250330] flex justify-between lg:pe-16 md:pe-10 pe-5
}
.theLogo{
   @apply my-auto text-2xl flex items-center
}
.navRouteLinks{
   @apply bg-[#1d0225] h-[calc(100svh-64px)] absolute justify-between
   lg:w-3/12 md:w-4/12 sm:w-6/12 w-10/12
}
.navRouteLink{
   @apply bg-[#250330] w-full hover:bg-[#4c0663] border-b border-t
   border-gray-600
   block py-3 ps-4 transition-all
}
.active{
   @apply ps-12 bg-[#4c0663]
}
.logout-wrapper{
   @apply bg-red-950 py-3 ps-4 
   hover:bg-red-900 cursor-pointer
}
.logoPhoto{
   background: url(../assets/asmo.jpg);
   width: 35px; height: 35px; background-size: cover; 
   @apply me-2
}
}